body {
  font-family: "Open Sans";
  background-color: #f9fafc;
}

p,
ul,
h1 {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

.nav-list {
  list-style-type: none;
  padding: 0;
}

.company-name {
  font-size: 16px;
  color: #000;
}

.nav-item {
  color: #69696a;
}

.important {
  background-color: #000;
  text-align: center;
  border-radius: 10px;
  padding: 5px;
}

.accent-link {
  color: #fff;
}

.about {
  color: #69696a;
  padding-left: 10px;
  border-left: 2px solid #69696a;
}

footer {
  position: fixed;
  bottom: 0;
  background-color: rgba(247, 193, 162, 0.7);
  width: 100%;
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
  padding: 5px 10px;
}

.footer-nav {
  display: flex;
  list-style-type: none;
}

.footer-nav-item {
  color: #69696a;
  padding: 5px;
}
