body {
  font-family: "Open Sans";
  background-color: #f9fafc;
}

a {
  text-decoration: none;
}

p {
  margin: 0;
  padding: 0;
}

ul {
  margin: 0;
  padding: 0;
}

nav ul {
  list-style-type: none;
  padding: 0;
}

.company {
  font-size: 16px;
  color: #000;
}

.gray-text {
  color: #69696a;
}

.important {
  background-color: #000;
  text-align: center;
  border-radius: 10px;
}

.white-text {
  color: #fff;
}

.lorem {
  color: #69696a;
  border-left: 2px solid #69696a;
}

footer {
  position: fixed;
  bottom: 0;
  background-color: rgba(247, 193, 162, 0.7);
  width: 100%;
}

.links {
  display: inline;
  text-align: right;
}
